
  
  .logo-footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
   padding: 1rem;
    margin-top: auto; /* Push the footer to the bottom */
    display: flex;
    justify-content: flex-end; /* Align the content to the right */
    align-items: center;
    margin-right: 1rem;
  }
  
  .logo-footer-img {
    height: 3rem;
  }
  