.logo-footer {
    
   
    display: flex;
    margin-top: 4rem;
    
    align-items: right;
    margin-right: 1rem;
    margin-top: 7.5rem;
    justify-content: right;
    display: flex;
    .logo-footer-img {
        height: 3rem;

    }
}