.search-action button {
    background-color: #673AB7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-action button:hover {
    background-color: #5E35B1; 
  }

  .input-field {
    color: white !important;
  }