.button-type-two {
    border-radius: 1rem;
    border: 2px white solid;
    color: white;
    background-color: #1C1C1D;
    text-align: center;
    padding: 15px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px #ffffff21;
    cursor: pointer;

    .ripple-span {
        position: absolute;
        border-radius: 50%;
        background-color: rgb(243 239 239 / 71%);
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        animation: ripple 0.5s;
        opacity: 0.0;
    }
}



@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}